# 디폴트 무시된 파일
/../../../찐졸과/backend/.idea/shelf/
/../../../찐졸과/backend/.idea/workspace.xml
# 에디터 기반 HTTP 클라이언트 요청
/../../../찐졸과/backend/.idea/httpRequests/
# 환경에 따라 달라지는 Maven 홈 디렉터리
/../../../찐졸과/backend/.idea/mavenHomeManager.xml
# Datasource local storage ignored files
/../../../찐졸과/backend/.idea/dataSources/
/../../../찐졸과/backend/.idea/dataSources.local.xml
